<div id="editing">
    <ul class="nav nav-tabs">
        <li><a class="show-preview" href="#">Preview</a></li>
        <li><a class="hide-preview" href="#">Hide Preview</a></li>
    </ul>
    <div class="input-group">
        <span class="input-group-addon">Title</span>
        <input type="text" id="title" class="form-control" placeholder="Untitled">
    </div>
    <div class="row">
        <div class="col-lg-6">
            <textarea class="mousetrap form-control">{{content}}</textarea>
            <input type="hidden" style="width: 300px;" id="labels"/>
        </div>
        <div class="col-lg-6">
        <div id="editing-preview">
        </div>
        </div>
    </div>
    <div id="urlModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <input type="hidden" style="width: 300px;" id="url"/>
              <button type="button" class="btn btn-success btn-xs btn-block">Apply</button>
          </div>
      </div>
    </div>
</div>
