<div id="editing">
    <div id="options-panel">
        <button name="preview">Preview</button>
    </div>
    <textarea class="mousetrap" rows="15" cols="30">{{content}}</textarea>
    <div id="editing-preview">
    </div>
    <input type="hidden" style="width: 300px;" id="labels"/>
    <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <input type="hidden" style="width: 300px;" id="url"/>
          </div>
      </div>
    </div>
</div>
