<div id="editing">
    <div class="row">
        <div class="col-lg-6">
            <div class="btn-group btn-group-justified">
                  <a type="button" class="btn btn-default show-preview">Open Preview</a>
                  <a type="button" class="btn btn-default hide-preview">Close Preview</a>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Title</span>
                <input type="text" id="title" class="form-control" placeholder="Untitled">
            </div>
            <textarea class="mousetrap form-control">{{content}}</textarea>
            <input type="hidden" style="width: 100%;" id="labels"/>
            <button type="button" id="save" class="btn btn-success btn-block">Save</button>
        </div>
        <div class="col-lg-6">
            <div id="editing-preview" class="panel panel-info">
                <div class="panel-heading">File Preview</div>
                    <div class="panel-body"></div>
            </div>
        </div>
    </div>
    <div id="urlModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <input type="hidden" style="width: 300px;" id="url"/>
                <button type="button" class="btn btn-success btn-xs btn-block">Apply</button>
            </div>
        </div>
    </div>
</div>
