<div class="table-responsive">
    {{#if hasFiles}}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date created</th>
                <th>Last modified</th>
                <th>Labels</th>
                <th>Published</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {{#each files}}
            <tr>
                <td>{{title}}</td>
                <td>{{formatDatetime date_created}}</td>
                <td>{{formatDatetime date_modified}}</td>
                <td>
                    {{#each labels}}
                    <span class="label label-primary">{{name}}</span>
                    {{/each}}
                </td>
                <td>
                    {{#if is_published}}
                    <span class="label label-success">Yes</span>
                    {{else}}
                    <span class="label label-warning">No</span>
                    {{/if}}
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="edit-file" href="#file/{{id}}/edit" target="_blank">Edit</a></li>
                            <li><a class="view-file" href="#file/{{id}}/view" target="_blank">View</a></li>
                            <li><a class="delete-file" data-toggle="modal" data-target="#confirm-modal" data-id="{{id}}">Delete</a></li>
                            {{#if is_published}}
                            <li><a class="toggle-publish" data-id="{{id}}">Unpublish</a></li>
                            {{else}}
                            <li><a class="toggle-publish" data-id="{{id}}">Publish</a></li>
                            {{/if}}
                        </ul>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="alert alert-warning">No files here!</div>
    {{/if}}
</div>

<!--Delete confirmation modal--> 
<div id="confirm-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete?</h4>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary confirm" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default no-confirm" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
